:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --nav-footer-colot: rgba(255, 255, 255, 0.6);
    --primary-background-color: #ffffff;
    --secondary-backgound-color: #f5f4fa;
    --hero-footer-background: #2f303a;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  
  /* Утиліти класів */
  
  .link {
    text-decoration: none;
    color: var(--primary-text-color);
  }
  
  .list {
    list-style: none;
  }
  
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  
  /* logo */
  .logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
  }
  
  .logo-interactive {
    color: var(--accent-color);
  }
  
  .logo:hover,
  .logo:focus {
    color: var(--accent-color);
  }
  
  .link.current {
    color: var(--accent-color);
  }
  
  .site-nav:hover,
  .site-nav:focus {
    color: var(--accent-color);
  }
  
  /* Секція герой */
  .hero {
    background-color: var(--hero-footer-background);
  }
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .hero-button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 200px;
  
    color: #ffffff;
    background-color: #2196f3;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
  }
  
  .hero-button:hover,
  .hero-button:focus {
    background-color: #188ce8;
  }
  
  /*Наші переваги */
  .about-us-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
  }
  
  .about-us-text {
    color: var(--secondary-text-color);
  }